imageio >= 2.31.6
ipython >= 7.34.0
matplotlib >= 3.7.5
numpy >= 1.24.4
pillow >= 10.3.0
requests >= 2.32.3
torch >= 2.3.0
torchvision >= 0.18.0
scikit-learn >= 1.2.2
transformers >= 4.41.2
tqdm >= 4.66.4